.container {
    background-color: #2a2a2a;
    color: #e0e0e0;
    padding: 2rem;
    max-width: 500px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
}

h2 {
    font-size: 22px;
    color: #c5a880;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 0.9rem;
    color: #b5b5b5;
    margin-bottom: 4px;
}
.span{
    color: #d8b88f;
}

.input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #555555;
    background-color: transparent;
    color: #e0e0e0;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    transition: border-color 0.3s ease;
}

.input:focus {
    outline: none;
    border-bottom-color: #c5a880;
}

input::placeholder {
    color: #777777;
}

button {
    background-color: #c5a880;
    color: #2a2a2a;
    padding: 0.7rem;
    font-size: 0.95rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d8b88f;
}

.error {
    color: #e57373;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

.successMessage {
    color: #81c784;
    font-size: 0.9rem;
    margin-top: 1rem;
}

/* ✅ Mensaje de Bienvenida */
.welcomeMessage {
    text-align: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #3a3a3a;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.welcomeMessage h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #c5a880;
}

.welcomeMessage p {
    font-size: 14px;
    color: #b5b5b5;
    margin: 0;
}